<section class="course__area pt-115 pb-120 grey-bg">
    <div class="container">
       <div class="row align-items-end">
          <div class="col-xxl-5 col-xl-6 col-lg-6">
             <div class="section__title-wrapper mb-60">
                <h2 class="section__title">Find the Right<br> <span class="yellow-bg yellow-bg-big">CPA <img src="assets/img/shape/yellow-bg.png" alt=""></span> Study Material for You</h2>
                <p>Pick a CPA exam section and start learning with clear, focused materials. From core topics to extra sections like ISC and TCP — study your way, at your pace.</p>
             </div>
          </div>
       </div>
       <div class="row">

         <mat-tab-group [@.disabled]="true" class="course__menu">
            <mat-tab>
                <ng-template mat-tab-label><div><button type="button" role="tab">See All <span class="tag">new</span> </button></div></ng-template>

                  <div class="course_wrapper">
                      <div class="row">
                          <div *ngFor="let course of courseData.slice(0,6)" class="col-xxl-4 col-xl-4 col-lg-4 col-md-6">
                              <div class="course__item white-bg mb-30 fix shadow-none">
                                  <div class="course__thumb w-img p-relative fix">
                                    <a [routerLink]="['/course-details']">
                                        <img src="{{course.courseImage}}" alt="">
                                    </a>
                                    <div class="course__tag">
                                        <a href="#" [class]="course.color">{{course.category}}</a>
                                    </div>
                                  </div>
                                  <div class="course__content">
                                    <div class="course__meta d-flex align-items-center justify-content-between">
                                        <div class="course__lesson">
                                          <span><i class="far fa-book-alt"></i>
                                              {{course.lesson}} Lesson</span>
                                        </div>
                                        <div class="course__rating">
                                          <span><i class="icon_star"></i>{{course.rating}} (44)</span>
                                        </div>
                                    </div>
                                    <h3 class="course__title"><a [routerLink]="['/course-details']">
                                        {{course.title}}</a></h3>
                                    <!-- <div class="course__teacher d-flex align-items-center">
                                        <div class="course__teacher-thumb mr-15">
                                          <img src="{{course.teacherImg}}" alt="">
                                        </div>
                                        <h6><a [routerLink]="['/instructor-details']">{{course.teacherName}}</a></h6>
                                    </div> -->
                                  </div>
                                  <div class="course__more d-flex justify-content-between align-items-center">
                                  <div class="course__status d-flex align-items-center">
                                      <span [class]="course.color">${{course.price}}</span>
                                      <span class="old-price">${{course.oldPrice}}</span>
                                    </div>
                                    <div class="course__btn">
                                        <a [routerLink]="['/course-details']" class="link-btn">
                                          Know Details
                                          <i class="far fa-arrow-right"></i>
                                          <i class="far fa-arrow-right"></i>
                                        </a>
                                    </div>
                                  </div>
                              </div>
                            </div>
                      </div>
                  </div>

            </mat-tab>

            <mat-tab>
                <ng-template mat-tab-label><div ><button type="button">AUD </button></div></ng-template>
                <div class="course_wrapper">
                    <div class="row">
                        <div *ngFor="let course of courseData.slice(0,1)" class="col-xxl-4 col-xl-4 col-lg-4 col-md-6">
                            <div class="course__item white-bg mb-30 fix shadow-none">
                               <div class="course__thumb w-img p-relative fix">
                                  <a [routerLink]="['/course-details']">
                                     <img src="{{course.courseImage}}" alt="">
                                  </a>
                                  <div class="course__tag">
                                     <a href="#" [class]="course.color">{{course.category}}</a>
                                  </div>
                               </div>
                               <div class="course__content">
                                  <div class="course__meta d-flex align-items-center justify-content-between">
                                     <div class="course__lesson">
                                        <span><i class="far fa-book-alt"></i>
                                            {{course.lesson}} Lesson</span>
                                     </div>
                                     <div class="course__rating">
                                        <span><i class="icon_star"></i>{{course.rating}} (44)</span>
                                     </div>
                                  </div>
                                  <h3 class="course__title"><a [routerLink]="['/course-details']">
                                      {{course.title}}</a></h3>
                                  <div class="course__teacher d-flex align-items-center">
                                     <div class="course__teacher-thumb mr-15">
                                        <img src="{{course.teacherImg}}" alt="">
                                     </div>
                                     <h6><a [routerLink]="['/instructor-details']">{{course.teacherName}}</a></h6>
                                  </div>
                               </div>
                               <div class="course__more d-flex justify-content-between align-items-center">
                                <div class="course__status d-flex align-items-center">
                                    <span [class]="course.color">${{course.price}}</span>
                                    <span class="old-price">${{course.oldPrice}}</span>
                                 </div>
                                  <div class="course__btn">
                                     <a [routerLink]="['/course-details']" class="link-btn">
                                        Know Details
                                        <i class="far fa-arrow-right"></i>
                                        <i class="far fa-arrow-right"></i>
                                     </a>
                                  </div>
                               </div>
                            </div>
                         </div>
                    </div>
                </div>
            </mat-tab>

            <mat-tab>
                <ng-template mat-tab-label><div ><button type="button">FAR </button></div>
                </ng-template>
                <div class="course_wrapper">
                    <div class="row">
                        <div *ngFor="let course of courseData.slice(1,2)" class="col-xxl-4 col-xl-4 col-lg-4 col-md-6 ">
                            <div class="course__item white-bg mb-30 fix shadow-none">
                               <div class="course__thumb w-img p-relative fix">
                                  <a [routerLink]="['/course-details']">
                                     <img src="{{course.courseImage}}" alt="">
                                  </a>
                                  <div class="course__tag">
                                     <a href="#" [class]="course.color">{{course.category}}</a>
                                  </div>
                               </div>
                               <div class="course__content">
                                  <div class="course__meta d-flex align-items-center justify-content-between">
                                     <div class="course__lesson">
                                        <span><i class="far fa-book-alt"></i>
                                            {{course.lesson}} Lesson</span>
                                     </div>
                                     <div class="course__rating">
                                        <span><i class="icon_star"></i>{{course.rating}} (44)</span>
                                     </div>
                                  </div>
                                  <h3 class="course__title"><a [routerLink]="['/course-details']">
                                      {{course.title}}</a></h3>
                                  <div class="course__teacher d-flex align-items-center">
                                     <div class="course__teacher-thumb mr-15">
                                        <img src="{{course.teacherImg}}" alt="">
                                     </div>
                                     <h6><a [routerLink]="['/instructor-details']">{{course.teacherName}}</a></h6>
                                  </div>
                               </div>
                               <div class="course__more d-flex justify-content-between align-items-center">
                                <div class="course__status d-flex align-items-center">
                                    <span [class]="course.color">${{course.price}}</span>
                                    <span class="old-price">${{course.oldPrice}}</span>
                                 </div>
                                  <div class="course__btn">
                                     <a [routerLink]="['/course-details']" class="link-btn">
                                        Know Details
                                        <i class="far fa-arrow-right"></i>
                                        <i class="far fa-arrow-right"></i>
                                     </a>
                                  </div>
                               </div>
                            </div>
                         </div>
                    </div>
                </div>
            </mat-tab>

            <mat-tab>
                <ng-template mat-tab-label><div ><button type="button">REG </button></div>
                </ng-template>
                <div class="course_wrapper">
                    <div class="row">
                        <div *ngFor="let course of courseData.slice(2,3)" class="col-xxl-4 col-xl-4 col-lg-4 col-md-6">
                            <div class="course__item white-bg mb-30 fix shadow-none">
                               <div class="course__thumb w-img p-relative fix">
                                  <a [routerLink]="['/course-details']">
                                     <img src="{{course.courseImage}}" alt="">
                                  </a>
                                  <div class="course__tag">
                                     <a href="#" [class]="course.color">{{course.category}}</a>
                                  </div>
                               </div>
                               <div class="course__content">
                                  <div class="course__meta d-flex align-items-center justify-content-between">
                                     <div class="course__lesson">
                                        <span><i class="far fa-book-alt"></i>
                                            {{course.lesson}} Lesson</span>
                                     </div>
                                     <div class="course__rating">
                                        <span><i class="icon_star"></i>{{course.rating}} (44)</span>
                                     </div>
                                  </div>
                                  <h3 class="course__title"><a [routerLink]="['/course-details']">
                                      {{course.title}}</a></h3>
                                  <div class="course__teacher d-flex align-items-center">
                                     <div class="course__teacher-thumb mr-15">
                                        <img src="{{course.teacherImg}}" alt="">
                                     </div>
                                     <h6><a [routerLink]="['/instructor-details']">{{course.teacherName}}</a></h6>
                                  </div>
                               </div>
                               <div class="course__more d-flex justify-content-between align-items-center">
                                <div class="course__status d-flex align-items-center">
                                    <span [class]="course.color">${{course.price}}</span>
                                    <span class="old-price">${{course.oldPrice}}</span>
                                 </div>
                                  <div class="course__btn">
                                     <a [routerLink]="['/course-details']" class="link-btn">
                                        Know Details
                                        <i class="far fa-arrow-right"></i>
                                        <i class="far fa-arrow-right"></i>
                                     </a>
                                  </div>
                               </div>
                            </div>
                         </div>
                    </div>
                </div>
            </mat-tab>

            <mat-tab>
                <ng-template mat-tab-label><div ><button type="button">BAR </button></div>
                </ng-template>
                <div class="course_wrapper">
                    <div class="row">
                        <div *ngFor="let course of courseData.slice(3,4)" class="col-xxl-4 col-xl-4 col-lg-4 col-md-6">
                            <div class="course__item white-bg mb-30 fix shadow-none">
                               <div class="course__thumb w-img p-relative fix">
                                  <a [routerLink]="['/course-details']">
                                     <img src="{{course.courseImage}}" alt="">
                                  </a>
                                  <div class="course__tag">
                                     <a href="#" [class]="course.color">{{course.category}}</a>
                                  </div>
                               </div>
                               <div class="course__content">
                                  <div class="course__meta d-flex align-items-center justify-content-between">
                                     <div class="course__lesson">
                                        <span><i class="far fa-book-alt"></i>
                                            {{course.lesson}} Lesson</span>
                                     </div>
                                     <div class="course__rating">
                                        <span><i class="icon_star"></i>{{course.rating}} (44)</span>
                                     </div>
                                  </div>
                                  <h3 class="course__title"><a [routerLink]="['/course-details']">
                                      {{course.title}}</a></h3>
                                  <div class="course__teacher d-flex align-items-center">
                                     <div class="course__teacher-thumb mr-15">
                                        <img src="{{course.teacherImg}}" alt="">
                                     </div>
                                     <h6>
                                       <a [routerLink]="['/instructor-details']">
                                         {{course.teacherName}}</a>
                                      </h6>
                                  </div>
                               </div>
                               <div class="course__more d-flex justify-content-between align-items-center">
                                <div class="course__status d-flex align-items-center">
                                    <span [class]="course.color">${{course.price}}</span>
                                    <span class="old-price">${{course.oldPrice}}</span>
                                 </div>
                                  <div class="course__btn">
                                     <a [routerLink]="['/course-details']" class="link-btn">
                                        Know Details
                                        <i class="far fa-arrow-right"></i>
                                        <i class="far fa-arrow-right"></i>
                                     </a>
                                  </div>
                               </div>
                            </div>
                         </div>
                    </div>
                </div>
            </mat-tab>

            <mat-tab>
              <ng-template mat-tab-label><div ><button type="button">ISC </button></div>
              </ng-template>
              <div class="course_wrapper">
                  <div class="row">
                      <div *ngFor="let course of courseData.slice(4,5)" class="col-xxl-4 col-xl-4 col-lg-4 col-md-6">
                          <div class="course__item white-bg mb-30 fix shadow-none">
                             <div class="course__thumb w-img p-relative fix">
                                <a [routerLink]="['/course-details']">
                                   <img src="{{course.courseImage}}" alt="">
                                </a>
                                <div class="course__tag">
                                   <a href="#" [class]="course.color">{{course.category}}</a>
                                </div>
                             </div>
                             <div class="course__content">
                                <div class="course__meta d-flex align-items-center justify-content-between">
                                   <div class="course__lesson">
                                      <span><i class="far fa-book-alt"></i>
                                          {{course.lesson}} Lesson</span>
                                   </div>
                                   <div class="course__rating">
                                      <span><i class="icon_star"></i>{{course.rating}} (44)</span>
                                   </div>
                                </div>
                                <h3 class="course__title"><a [routerLink]="['/course-details']">
                                    {{course.title}}</a></h3>
                                <div class="course__teacher d-flex align-items-center">
                                   <div class="course__teacher-thumb mr-15">
                                      <img src="{{course.teacherImg}}" alt="">
                                   </div>
                                   <h6>
                                     <a [routerLink]="['/instructor-details']">
                                       {{course.teacherName}}</a>
                                    </h6>
                                </div>
                             </div>
                             <div class="course__more d-flex justify-content-between align-items-center">
                              <div class="course__status d-flex align-items-center">
                                  <span [class]="course.color">${{course.price}}</span>
                                  <span class="old-price">${{course.oldPrice}}</span>
                               </div>
                                <div class="course__btn">
                                   <a [routerLink]="['/course-details']" class="link-btn">
                                      Know Details
                                      <i class="far fa-arrow-right"></i>
                                      <i class="far fa-arrow-right"></i>
                                   </a>
                                </div>
                             </div>
                          </div>
                       </div>
                  </div>
              </div>
            </mat-tab>

            <mat-tab>
              <ng-template mat-tab-label><div ><button type="button">TCP </button></div>
              </ng-template>
              <div class="course_wrapper">
                  <div class="row">
                      <div *ngFor="let course of courseData.slice(5,6)" class="col-xxl-4 col-xl-4 col-lg-4 col-md-6">
                          <div class="course__item white-bg mb-30 fix shadow-none">
                             <div class="course__thumb w-img p-relative fix">
                                <a [routerLink]="['/course-details']">
                                   <img src="{{course.courseImage}}" alt="">
                                </a>
                                <div class="course__tag">
                                   <a href="#" [class]="course.color">{{course.category}}</a>
                                </div>
                             </div>
                             <div class="course__content">
                                <div class="course__meta d-flex align-items-center justify-content-between">
                                   <div class="course__lesson">
                                      <span><i class="far fa-book-alt"></i>
                                          {{course.lesson}} Lesson</span>
                                   </div>
                                   <div class="course__rating">
                                      <span><i class="icon_star"></i>{{course.rating}} (44)</span>
                                   </div>
                                </div>
                                <h3 class="course__title"><a [routerLink]="['/course-details']">
                                    {{course.title}}</a></h3>
                                <div class="course__teacher d-flex align-items-center">
                                   <div class="course__teacher-thumb mr-15">
                                      <img src="{{course.teacherImg}}" alt="">
                                   </div>
                                   <h6>
                                     <a [routerLink]="['/instructor-details']">
                                       {{course.teacherName}}</a>
                                    </h6>
                                </div>
                             </div>
                             <div class="course__more d-flex justify-content-between align-items-center">
                              <div class="course__status d-flex align-items-center">
                                  <span [class]="course.color">${{course.price}}</span>
                                  <span class="old-price">${{course.oldPrice}}</span>
                               </div>
                                <div class="course__btn">
                                   <a [routerLink]="['/course-details']" class="link-btn">
                                      Know Details
                                      <i class="far fa-arrow-right"></i>
                                      <i class="far fa-arrow-right"></i>
                                   </a>
                                </div>
                             </div>
                          </div>
                       </div>
                  </div>
              </div>
            </mat-tab>
        </mat-tab-group>
       </div>
    </div>
 </section>
